In [29]:
import pandas as pd
import numpy as np

df = pd.read_csv("./data/base_unificada_v2.csv")

In [21]:
def change_column_value(dataframe, column_name, from_value, to_value):
    return np.where(dataframe[column_name] == from_value, to_value, dataframe[column_name])

In [54]:
df["listed_in"].value_counts()

Drama                 7968
Comedy                5369
International         5350
Documentary           2325
Action & Adventure    1997
                      ...
Disaster                 2
Romantic Comedy          2
Talk Show                1
Police/Cop               1
Travel                   1
Name: listed_in, Length: 80, dtype: int64

In [45]:
df["listed_in"] = change_column_value(df, "listed_in", from_value="Action-Adventure", to_value="Action & Adventure")
df["listed_in"] = change_column_value(df, "listed_in", from_value="TV Action & Adventure", to_value="Action & Adventure")
df["listed_in"] = change_column_value(df, "listed_in", from_value="and Culture", to_value="Culture")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Documentaries", to_value="Documentary")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Comedies", to_value="Comedy")
df["listed_in"] = change_column_value(df, "listed_in", from_value="TV Comedies", to_value="Comedy")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Dramas", to_value="Drama")
df["listed_in"] = change_column_value(df, "listed_in", from_value="TV Dramas", to_value="Drama")
df["listed_in"] = change_column_value(df, "listed_in", from_value="TV Horror", to_value="Horror")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Horror Movies", to_value="Horror")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Anime Series", to_value="Anime")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Crime TV Shows", to_value="Crime")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Documentaries", to_value="Documentary")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Faith and Spirituality", to_value="Faith & Spirituality")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Kids' TV", to_value="Kids")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Korean TV Shows", to_value="Korean")
df["listed_in"] = change_column_value(df, "listed_in", from_value="LGBTQ Movies", to_value="LGBTQ")
df["listed_in"] = change_column_value(df, "listed_in", from_value="International Movies", to_value="International")
df["listed_in"] = change_column_value(df, "listed_in", from_value="International TV Shows", to_value="International")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Stand-Up Comedy & Talk Shows", to_value="Stand-Up Comedy")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Romantic Movies", to_value="Romance")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Romantic TV Shows", to_value="Romance")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Reality TV", to_value="Reality")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Independent Movies", to_value="Independent")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Thiller", to_value="Thriller")
df["listed_in"] = change_column_value(df, "listed_in", from_value="Thrillers", to_value="Thriller")
df["listed_in"] = change_column_value(df, "listed_in", from_value="TV Thrillers", to_value="Thriller")

In [ ]:
df["listed_in"].value_counts()

In [55]:
df.to_csv("./data/base_unificada_v2.csv", index=False)