In [6]:
import pandas as pd
df_netflix = pd.read_csv("./data/netflix_titles.csv")
df_amazon = pd.read_csv("./data/amazon_prime_titles.csv")
df_disney = pd.read_csv("./data/disney_plus_titles.csv")
df_hbo = pd.read_csv("./data/hbo_titles.csv")

In [3]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
df_amazon.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [7]:
df_disney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [9]:
df_hbo.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

In [10]:
df_hbo.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6
1,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,433804.0,14.383,8.0
2,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1942,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,558849.0,20.087,8.2
3,tm82363,The Big Sleep,MOVIE,Private Investigator Philip Marlowe is hired b...,1946,NaN,116,"['thriller', 'crime']",['US'],NaN,tt0038355,7.9,84494.0,12.911,7.7
4,tm84701,The Maltese Falcon,MOVIE,A private detective takes on a case that invol...,1941,NaN,100,"['thriller', 'romance', 'crime']",['US'],NaN,tt0033870,8.0,156603.0,12.788,7.8
5,tm156463,Gone with the Wind,MOVIE,The spoiled daughter of a well-to-do plantatio...,1939,G,233,"['war', 'romance', 'drama', 'history']",['US'],NaN,tt0031381,8.2,309856.0,24.092,8.0
6,ts225761,Tom and Jerry,SHOW,Tom and Jerry is an American animated franchis...,1940,NaN,8,"['animation', 'comedy', 'family', 'action']",['US'],16.0,tt12158994,7.7,853.0,1.400,10.0
7,tm5094,The Treasure of the Sierra Madre,MOVIE,"Fred C. Dobbs and Bob Curtin, both down on the...",1948,NaN,126,"['western', 'drama']",['US'],NaN,tt0040897,8.2,122971.0,14.006,8.0
8,tm54459,The Asphalt Jungle,MOVIE,"Recently paroled from prison, legendary burgla...",1950,NaN,112,"['drama', 'thriller', 'crime']",['US'],NaN,tt0042208,7.8,26557.0,9.809,7.5
9,tm81960,The Philadelphia Story,MOVIE,When a rich woman's ex-husband and a tabloid-t...,1940,NaN,113,"['romance', 'comedy']",['US'],NaN,tt0032904,7.9,68337.0,11.587,7.7